<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	 <form action="massage" method="post">
	        <h2>what's app massage</h2>
	        <label for="number">number:</label>
	        <input type="text" id="number" name="numder" placeholder="Enter your number" required>
	<label for="msg">mssage:</label>
	        <input type="text" id="msg" name="msg" placeholder="Enter your massage" required>
	        <button type="submit">SEND Now</button>
	    </form>
		<form action="allmsg" method="get">
			        <button type="submit">ALL DATA</button>
			    </form>
</body>
</html>